{% extends 'base.html' %}
{% block content %}



{% for instance in object_list %}
   <!-- <p>{{ instance.id }} - {{instance.title  }}</p>-->
   <p>{{ instance.id }} - {{ instance.title }}</p>


{% endfor %}
{% endblock %}