{% extends 'base.html' %}

{% block content %}
<h1>In app template: {{object.title}}</h1>
<p>{% if object.description != None and object.description != '' %}{{object.description}}{% else %}Description coming soon{% endif %}</p>

{{object.price}}
{% endblock %}