{% extends 'base.html' %}

{% block content %}
{% for instance in object_list %}
<p>{{instance.id}} - <a href="{{ instance.get_asolute_url }}">{{instance.title}}</a></p>

{% endfor %}

{% endblock %}