{% extends 'base.html' %}

{% block content %}
<form action='.' method='POST'>{% csrf_token %}
    <h1>Do you want to delete the article "{{ object.title }}"?</h1>
    <p><input type='submit' value='YES'><a href='../'>cancel</a></p>
</form>
{% endblock %}