{%extends 'base.html'%}
{%block content%}

<h1>About</h1>
<h3>{{ title|capfirst|title }}</h3>
<p>this is a template</p>
{{ my_html|striptags|slugify }}
<p>
    {{my_number}}
    {{my_list}}
    
</p>
<ul>
    <li>item 1</li>
    <li>item 2</li>
</ul>
<ul>
{% for abc in my_list %}
    {% if abc == 123 %}
        <li>{{forloop.counter}} - {{abc|add:22}}</li>
    {% elif abc == "abc" %}
        <li>This is not the network</li>
    {% else %}
        <li>{{forloop.counter}} - {{abc}}</li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}