<!DOCTYPE html>
<html>
    <head>
        <title>codding by punit</title>
    </head>
    <body>
        {%include 'navbar.html' %} 
        
        {%block content%}
        replace me
        {% endblock %}
    </body>
</html>